@{
    ViewData["Title"] = "Dokončeno";
}

<div class="text-center">
    <h1 class="display-4">Objednávka úspěšně vytvořena</h1>
     <a href="@Url.Action("Homepage", "Home")"><button class="btn-primary btn btn-lg" type="button">Domů</button></a>
</div>
